#textbody  {
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}



#backgroundbody{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #464646;
}

@import "https://fonts.googleapis.com/css?family=Lato:100";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   font-size: 10px;
   font-family: "Lato", Arial, sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

h1{
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #fff;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.fa {
    padding: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    color: white;
  }

  .fa-linkedin {
    color: white;
  }

  .fa-youtube {
    color: white;
  }

  .fa-instagram {
    color: white;
  }

  .fa-github {
    color: white;
  }

  .fa-whatsapp {
    color: white;
  }